################################################
# SafeSend Messenger Application
# Vajalikud Python paketid ja versioonid
################################################

# Server Components
flask==2.0.1
flask-socketio==5.1.1
eventlet==0.33.0
flask_cors==5.0.0

# UI Komponentid
nicegui==1.4.6

# Async toimimine
asyncio==3.4.3

# UUID genereerimine
uuid==1.30

# Krüptograafia
rsa==4.9.0